.keys {
    display: grid;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
}
textarea:focus{
    border: 1px solid grey;
    outline: none;
}

.keys>button {
    position: relative;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border: none;
    margin: 0;
}
.keys>button:not(:last-child)::after{
    content: ' ';
    background-color: grey;
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 0;
    width: 1px;
}

.keys>button>span.alt {
    position: absolute;
    top: 3px;
    left: 6px;
    color: grey;
}

.d-none {
    display: none !important;
}


.opacity-0 {
    visibility: hidden;
}

button.key.active {
    background-color: red;
}

.alt.active {
    color: red !important;
}

#virtual-keyboard{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


@media(min-width:720px) {
    .keys>button {
        padding: 15px;
        margin: 10px 4px 0 4px;
        margin: 5px;
        background-color: rgba(128, 128, 128, 0.253);
        border: 1px solid grey;
        border-radius: 4px;
    }
    .keys>button::after{
        content: none !important;
    }
    .keys:last-child{
        justify-content: center;
    }
}