.keys {
    display: grid;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid grey;
}

textarea:focus {
    border: 1px solid grey;
    outline: none;
}

.p-relative {
    position: relative;
}

.hider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(108, 211, 214);
    color: white;
}

.text-center {
    text-align: center;
}

.keys>button {
    position: relative;
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    margin: 0;
}

.keys>button:active {
    /* background-color: red!important; */
    animation: glow 1s ease-in-out;
}

@keyframes glow {
    0% {
        background-color: rgba(108, 210, 214, 0.582);
        box-shadow: 0 0 5px rgba(108, 210, 214, 0.02);
    }

    50% {
        background-color: rgb(108, 211, 214);
        box-shadow: 0 0 20px rgba(108, 210, 214, 0.185);
    }

    100% {
        background-color: rgba(108, 210, 214, 0.582);
        box-shadow: 0 0 5px rgba(108, 210, 214, 0.02);
    }
}

.keys>button:not(:last-child)::after {
    content: ' ';
    background-color: rgba(128, 128, 128, 0.048);
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 0;
    width: 1px;
}

.keys>button>span.alt {
    position: absolute;
    top: 3px;
    left: 6px;
    color: grey;
}

.keys>button>span.main {
    color: grey;
}

.keys>button>span.main.active {
    color: black;
}

.keys>button:focus {
    outline: none;
}

.d-none {
    display: none !important;
}


.opacity-0 {
    visibility: hidden;
}

button.key.active {
    background-color: rgb(108, 211, 214);
}

.alt.active {
    color: black !important;
}

#virtual-keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(233, 233, 233);
    padding: 5px 0;
    transition: 0.5s;
    box-shadow: 0 -4px 6px rgba(128, 128, 128, 0.089);
    transform: translateY(100%);
}

.animUp {
    transform: translateY(0%) !important;
}

@media(min-width:720px) {
    .keys>button {
        padding: 18px;
        height: auto;
        margin: 5px;
        background-color: rgb(61, 61, 61);
        border: 1px solid rgb(56, 55, 55);
        border-radius: 4px;
    }

    .keys>button::after {
        content: none !important;
    }

    .keys:last-child {
        justify-content: center;
    }

    #virtual-keyboard {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 0;
    }

    .keys>button>span.main.active {
        color: white;
    }

    .alt.active {
        color: white !important;
    }
}